.todo-card {
    display: flex;
    flex-direction: row;
    background-color: #1a1a1a;
    padding: 0 14px;
    border-radius: 10px;
    justify-content: space-between;
    margin: 10px;
    gap: 10px;
    min-width: 500px;
}

input[type=checkbox]
{
    transform: scale(1.5);
    padding: 15px;
}

.todo-desc {
    text-align: left;
    margin-right: auto;
}

.todo-links {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 15px;
}
